/**
 * Copyright (c) 2006 Institut de recherches cliniques de Montreal (IRCM)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
/* Error */
.error .label, .label.error {
	-fx-text-fill: red;
	-fx-graphic: url("images/dialog-error-2.png");
}
.error .check-box {
	-fx-text-fill: red;
}
.error .radio-button {
	-fx-text-fill: red;
}
.error .text-field, .text-field.error {
	-fx-background-color: red, linear-gradient(to bottom, derive(red,70%) 15%, derive(red,90%) 40%);
}

/* Progress dialog */
.progress-dialog {
	-fx-padding: 10;
}
.progress-dialog .container {
	-fx-padding: 10;
	-fx-spacing: 5;
}
.progress-dialog .buttons {
	-fx-alignment: center;
	-fx-padding: 20 0 0 0;
}
