/**
 * Copyright (c) 2006 Institut de recherches cliniques de Montreal (IRCM)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.manage-organism .parameters {
	-fx-padding: 10;
	-fx-spacing: 5;
}
.manage-organism .parameters .parameter {
	-fx-spacing: 5;
	-fx-alignment: center-left;
}
.manage-organism .add {
	-fx-padding: 10 3 3 3;
}
.manage-organism .add .label {
	-fx-padding: 10 3 3 3;
	-fx-font: bold 18 sans-serif;
}
