/**
 * Copyright (c) 2006 Institut de recherches cliniques de Montreal (IRCM)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.download .parameters {
	-fx-padding: 10;
	-fx-spacing: 5;
}
.download .parameters .parameter {
	-fx-spacing: 5;
	-fx-alignment: center-left;
}
.download .buttons {
	-fx-border-width: 1 0 0 0;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-padding: 10;
}
.download .buttons .button {
	-fx-font: italic bold 16 sans-serif;
	-fx-graphic: url('dialog-ok-2_24.png');
	-fx-graphic-text-gap: 10;
}
